@model IEnumerable<domain.Models.userprofile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proemail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proimage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.propass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.proname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proemail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proimage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.propass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.proid }) |
            @Html.ActionLink("Details", "Details", new { id=item.proid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.proid })
        </td>
    </tr>
}

</table>
